<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
	<appSettings>
		<add key="MySqlCon" value="Data Source=192.168.0.117;Initial Catalog=naga;userid=root;password=admin;pooling=false"/>
		<add key="Intervel" value="4000"/>
		<add key="DebugDays" value="10"/>
		
		<!--Quality-->
		<add key="SAPUserName" value="Nagaabap"/>
		<add key="SAPPassword" value="Naga@54321"/>
		<add key="BaseUrl" value="http://10.10.63.139:50000/"/>
		
		<!--Production-->
		<!--<add key="SAPUserName" value="Nagaabap"/>
		<add key="SAPPassword" value="App@IT$2k23"/>
		<add key="BaseUrl" value="http://103.249.96.242:50000/"/>-->

		<!--Test-->
		<!--<add key="SAPUserName" value="Trainee1"/>
		<add key="SAPPassword" value="Train@1"/>
		<add key="BaseUrl" value="http://10.10.63.140:8001/"/>-->
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
